.footer {
  background-color: $hero-color;
}

.footer_padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-thumb {
  @media screen and (min-width: $tablet-bp) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop-bp) {
    justify-content: start;
    column-gap: 70px;
  }
}
