.logo {
  color: $accent-color;
  font-family: $logo-text-pack;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop-bp) {
    font-size: 26px;
  }
}

.logo_header-black {
  color: $color-black;
}

.logo_footer-white {
  color: $color-white;
}

.logo_footer-margin-botom {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @media screen and (min-width: $desktop-bp) {
    display: block;
  }
}
