// Colors

$primary-text-color: #757575;
$title-text-color: #212121;
$hero-color: #2f303a;
$color-white: #ffffff;
$color-black: #000000;
$hero-button-color: #188ce8;
$accent-color: #2196f3;
$team-section-color: #f5f4fa;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$link-icon-color: #afb1b8;
$photo-section-part-bgc: rgba(47, 48, 58, 0.8);
$works-photo-bgc: rgba(33, 150, 243, 0.9);
$works-border-color: #eeeeee;

// Font-style

$font-text-pack: 'Roboto', sans-serif;
$logo-text-pack: 'Raleway', sans-serif;

$mobile-bp: 480px;
$tablet-bp: 768px;
$desktop-bp: 1200px;
